<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Artículos</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

<!--        <section th:replace="articulo/botonesAgregar :: botonesAgregar"></section>-->
<!--        <section th:replace="articulo/agregarArticulo :: agregarArticulo"></section>-->
        <section th:replace="articulo/listadoArticulos :: listadoArticulos"></section>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>